<a [routerLink]="['/storage']" routerLinkActive="router-link-active">storage</a>
<p></p>
<a [routerLink]="['/debounce-time']" routerLinkActive="router-link-active">debounce-time</a>
<p></p>
<a [routerLink]="['/throttle-time']" routerLinkActive="router-link-active">throttle-time</a>
<p></p>
<a [routerLink]="['/take-until-destroyed']" routerLinkActive="router-link-active">take-until-destroyed</a>
<p></p>
<a [routerLink]="['/use-navigation-end']" routerLinkActive="router-link-active">use-navigation-end</a>
<p></p>
<a [routerLink]="['/use-query-params']" routerLinkActive="router-link-active">use-query-params</a>
<p></p>
<a [routerLink]="['/observe-resize']" routerLinkActive="router-link-active">observe-resize</a>
<p></p>
<div>
    <router-outlet></router-outlet>
</div>
